p= = "#{Customer.find_by(email: @resource.email).full_name}様"

p パスワードの再設定を行います。以下のURLより設定を行なってください。

p= link_to 'パスワード再設定', edit_password_url(@resource, reset_password_token: @token)

p このお知らせにお心当たりのない場合、このメールは無視してください。
p なお、上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。

p TAYORI